body {
	  font-family: "Indie Flower";
	  font-weight:400;
	  color:	#a02b66;
	background-image:url(https://images.template.net/73932/Free-Pastel-Pink-Heart-Background-Desktop-2.jpg);
	background-attachment: fixed;
  	background-size:800px;
  	background-repeat: no repeat;
  	align-content:center;
  }
